/* ================ PANTALLA DE RESULTADO ==========================================================================*/

#pantallaResultado {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor {
    flex: content;
    margin-left: 50px;
}

.jugada {
    height: 300px;
    border : goldenrod 3px solid;
    border-style: dotted;
}

#mensajeYBotonVolver {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#mensajeResultado {
    font-size: xx-large;
}